@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

// Font Variables
$roboto-slab: "Roboto Slab", serif;
$open-sans: "Open Sans", sans-serif;

$primaryColor: #4c51c6;
$secondaryColor: #fd830d;
$accentColor: #607ff2;
$lightAccentColor: #8da3f3;
$lightColor: #e9f4ff;
$secondaryLight: rgb(255, 196, 142);
$white: #fafdff;
$grey: #a5a5a5;
html,
body {
  background-color: $lightColor;
  font-family: $open-sans;
}
h1 {
  color: $primaryColor;
}
.App {
  display: flex;
  text-align: center;
  flex-direction: column;
}
button {
  display: block;
  color: $white;
  // margin: 0.5em;
  padding: 5px 15px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.2em;
  transition: background-position 0.3s;
  transition: color, 0.3s;
  transition: box-shadow, 0.3s;
  background-size: 100% 202%;
}
button:hover {
  background-position: 0 100%;
  cursor: pointer;
}
.btn-primary {
  text-shadow: 0px 0px 2em $lightAccentColor;
  box-shadow: 0px 0px 0.2em $lightAccentColor;
  border: 2px solid $primaryColor;
  background-image: linear-gradient(
    to bottom,
    $lightAccentColor 50%,
    $white 50%
  );
}
.btn-primary:hover {
  color: $primaryColor;
  box-shadow: 0px 0px 0.7em $lightAccentColor;
}
button:disabled {
  color: $white;
  background: $grey;
  background-color: $grey;
  border: 2px solid $grey;
}
button:disabled:hover {
  border: 2px solid $grey;
  color: $white;
  background: $grey;
  background-color: $grey;
}
.btn-secondary {
  text-shadow: 0px 0px 2em $secondaryLight;
  box-shadow: 0px 0px 0.2em $secondaryLight;
  border: 2px solid $secondaryColor;
  background-image: linear-gradient(to bottom, $secondaryLight 50%, $white 50%);
}
.btn-secondary:hover {
  color: $secondaryColor;
  box-shadow: 0px 0px 0.7em $secondaryLight;
}
input {
  display: block;
  border-radius: 10px;
  border: 2px solid $primaryColor;
  padding-left: 1em;
  padding-right: 0.4em;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.2em;
  background: $white;
  color: $primaryColor;
  height: 2em;
  width: 4em;
  box-shadow: 0px 0px 0.2em $lightAccentColor;
}
.settings-container {
  border: 3px solid $primaryColor;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 10px $lightAccentColor;
  background-color: $white;
  margin: 15px auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 1em;
  color: $primaryColor;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  & > *:not(:last-child) {
    margin-right: 8px;
  }
}
.main-container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
